export COLORTERM=truecolor
export COMMAND_MODE=unix2003
export DISPLAY_NAME='STACKS AND JOULES POOL'
export GIT_ASKPASS='/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/git/dist/askpass.sh'
export HOME=/Users/paulgasbarra
export LANG=en_US.UTF-8
export LOGNAME=paulgasbarra
export MallocNanoZone=0
export OLDPWD=/Users/paulgasbarra/Code/learnDjango/stacks_and_joules
export ORIGINAL_XDG_CURRENT_DESKTOP=undefined
export -T PATH path=( /usr/local/bin /System/Cryptexes/App/usr/bin /usr/bin /bin /usr/sbin /sbin /usr/local/go/bin /Library/Apple/usr/bin )
export POOL_NAME=stacks-and-joules-pool
export PROJECT_ID=stacks-and-joules-fe-dev
export PROVIDER_DISPLAY_NAME='SNJ GITHUB PROVIDER'
export PROVIDER_NAME=stacks-and-joules-github-provider
export PWD=/Users/paulgasbarra/Code/learnDjango/stacks_and_joules
export REPO=paulgasbarra/s_and_j_tracks
export SERVICE_ACCOUNT=stacks-and-joules-dev@appspot.gserviceaccount.com
export SHELL=/bin/zsh
export -i10 SHLVL=1
export SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.6OcX81oaT4/Listeners
export TERM=xterm-256color
export TERM_PROGRAM=vscode
export TERM_PROGRAM_VERSION=1.82.2
export TMPDIR=/var/folders/6n/mqxh8m593lv8z14bsy9c6mph0000gn/T/
export USER=paulgasbarra
export USER_ZDOTDIR=/Users/paulgasbarra
export VSCODE_GIT_ASKPASS_EXTRA_ARGS=--ms-enable-electron-run-as-node
export VSCODE_GIT_ASKPASS_MAIN='/Applications/Visual Studio Code.app/Contents/Resources/app/extensions/git/dist/askpass-main.js'
export VSCODE_GIT_ASKPASS_NODE='/Applications/Visual Studio Code.app/Contents/Frameworks/Code Helper (Plugin).app/Contents/MacOS/Code Helper (Plugin)'
export VSCODE_GIT_IPC_HANDLE=/var/folders/6n/mqxh8m593lv8z14bsy9c6mph0000gn/T/vscode-git-218e288c1c.sock
export VSCODE_INJECTION=1
export XPC_FLAGS=0x0
export XPC_SERVICE_NAME=application.com.microsoft.VSCode.57758335.57758341
export ZDOTDIR=/Users/paulgasbarra
export __CFBundleIdentifier=com.microsoft.VSCode
export __CF_USER_TEXT_ENCODING=0x1F5:0x0:0x0
